# The port for the web socket server.
websocket-address={{ hostvars[inventory_hostname]['ansible_' + hostvars[inventory_hostname]['api_interface']]['ipv4']['address'] }}
websocket-port={{ opendaylight_websocket_port }}
