{
    "command": "/usr/share/corosync/corosync start",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/corosync.conf",
            "dest": "/etc/corosync/corosync.conf",
            "owner": "root",
            "perm": "0655"
        }
    ]
}
