{
    "command": "/usr/sbin/pacemakerd -f",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/corosync.conf",
            "dest": "/etc/corosync/corosync.conf",
            "owner": "root",
            "perm": "0600"
        }
    ],
    "permissions": [
       {
            "path": "/var/log/kolla/corosync",
            "owner": "root",
            "recurse": true
       }
    ]
}
